@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box-mainInstruct {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  inset: 0px;
  overflow: auto;
  margin: auto;

  .align-self {
    align-self: self-end;

    .box-instruct {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -17%);
      font-size: 16px;
      width: 390px;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      background: linear-gradient(
          45.55deg,
          rgba(0, 0, 0, 0.1) -8.16%,
          rgb(0, 0, 0) 32.09%,
          rgb(0, 0, 0) 69.6%,
          rgba(0, 0, 0, 0.1) 107.2%
        ),
        linear-gradient(
          270deg,
          rgb(229, 9, 20) 5.35%,
          rgba(129, 43, 239, 0.75) 37.52%,
          rgba(129, 43, 239, 0.75) 55.93%,
          rgb(229, 15, 9) 93.15%
        ),
        rgb(0, 0, 0);
      color: white;

      .close {
        position: relative;
        float: right;
        font-size: 24px;
        background: #666666a1;
        border-radius: 50%;
        width: 34px;
        height: 34px;

        button {
          position: absolute;
          top: -1px;
          left: 7px;

          .des-close {
            position: absolute;
            font-size: 13px;
            background-color: #141414;
            border: 1px solid #969696;
            border-left: 1px solid #fff;
            border-top: 1px solid #fff;
            box-shadow: 0px 1px 2px 0px #141414;
            padding: 1px 7px;
            color: #ccc;
            left: 20px;
          }
        }
        &:hover {
          background-color: #66666662;
        }
      }

      .content-instruct {
        clear: both;
        display: flex;
        flex-direction: column;
        padding-top: 10px;

        .avatar {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            width: 115px;
            border-radius: 5px;
          }
          .name {
            font-weight: 500;
            margin-top: 10px;
          }
          .nickname {
            display: flex;
            color: #ababab;
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 40px;
            svg {
              width: 18px;
            }
            span {
              padding-left: 4px;
            }
          }
        }

        .title-nickname {
          margin-bottom: 55px;
          .title {
            color: #fff;
            font-weight: 500;
            font-size: 24px;
            padding-bottom: 7px;
          }
          .description {
            font-size: 1.1vw;
            font-weight: 400;
          }
        }
        .btn-instruct {
          position: relative;
          cursor: pointer;
          display: flex;
          justify-content: flex-end;
          flex-direction: row;
          align-items: flex-end;

          .marker-active {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .one:after {
              content: "";
              display: inline-block;
              margin-right: 0.5em;
              width: 0.375em;
              height: 0.375em;
              border-radius: 50%;
              background-color: white;
            }
            .two:after {
              content: "";
              background-color: #969696;
              display: inline-block;
              margin-right: 0.5em;
              width: 0.375em;
              height: 0.375em;
              border-radius: 50%;
            }
            .three:after {
              content: "";
              background-color: #969696;
              display: inline-block;
              margin-right: 0.5em;
              width: 0.375em;
              height: 0.375em;
              border-radius: 50%;
            }
          }

          button {
            color: #141414;
            background-color: #fff;
            padding: 8px 16px;
            font-weight: 700;
            width: 130px;
            border-radius: 5px;
            text-align: center;
            &:hover {
              background-color: #c6c6c6;
            }
          }
        }
      }
    }
  }
}

.closed {
  display: none;
}

// Step 2
.box-mainInstructSt2 {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  inset: 0px;
  overflow: auto;
  margin: auto;

  .align-self {
    align-self: self-end;

    .box-instruct {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -17%);
      font-size: 16px;
      width: 390px;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      background: linear-gradient(
          45.55deg,
          rgba(0, 0, 0, 0.1) -8.16%,
          rgb(0, 0, 0) 32.09%,
          rgb(0, 0, 0) 69.6%,
          rgba(0, 0, 0, 0.1) 107.2%
        ),
        linear-gradient(
          270deg,
          rgb(229, 9, 20) 5.35%,
          rgba(129, 43, 239, 0.75) 37.52%,
          rgba(129, 43, 239, 0.75) 55.93%,
          rgb(229, 15, 9) 93.15%
        ),
        rgb(0, 0, 0);
      color: white;

      .close {
        position: relative;
        float: right;
        font-size: 24px;
        background: #666666a1;
        border-radius: 50%;
        width: 34px;
        height: 34px;

        button {
          position: absolute;
          top: -1px;
          left: 7px;

          .des-close {
            position: absolute;
            font-size: 13px;
            background-color: #141414;
            border: 1px solid #969696;
            border-left: 1px solid #fff;
            border-top: 1px solid #fff;
            box-shadow: 0px 1px 2px 0px #141414;
            padding: 1px 7px;
            color: #ccc;
            left: 20px;
          }
        }
        &:hover {
          background-color: #66666662;
        }
      }

      .content-instruct {
        clear: both;
        display: flex;
        flex-direction: column;
        padding-top: 10px;

        .avatar {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            width: 115px;
            border-radius: 5px;
          }
          .name {
            font-weight: 500;
            margin-top: 10px;
          }
          .nickname {
            display: flex;
            color: #ababab;
            font-size: 15px;
            margin-bottom: 5px;
            border: 1px solid #4c4c4c;
            background: #000;
            border-radius: 5px;
            padding: 7px 12px;
            width: 220px;

            svg {
              width: 22px;
            }
            span {
              display: flex;
              justify-content: center;
              align-items: center;
              flex: 1 1 auto;
              padding-left: 4px;
              color: #fff;
            }
            &:nth-child(1) {
              margin-top: 14px;
            }
            &:nth-child(3) {
              margin-bottom: 45px;
            }
          }
        }

        .title-nickname {
          margin-bottom: 55px;
          .title {
            color: #fff;
            font-weight: 500;
            font-size: 24px;
            padding-bottom: 7px;
          }
          .description {
            font-size: 1.1vw;
            font-weight: 400;
          }
        }
        .btn-instruct {
          position: relative;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: flex-end;

          .marker-active {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .one:after {
              content: "";
              display: inline-block;
              margin-right: 0.5em;
              width: 0.375em;
              height: 0.375em;
              border-radius: 50%;
              background-color: #969696;
            }
            .two:after {
              content: "";
              background-color: white;
              display: inline-block;
              margin-right: 0.5em;
              width: 0.375em;
              height: 0.375em;
              border-radius: 50%;
            }
            .three:after {
              content: "";
              background-color: #969696;
              display: inline-block;
              margin-right: 0.5em;
              width: 0.375em;
              height: 0.375em;
              border-radius: 50%;
            }
          }

          button {
            color: #fff;
            background-color: rgba(109, 109, 110, 0.7);
            padding: 8px 16px;
            font-weight: 700;
            width: 130px;
            border-radius: 5px;
            text-align: center;
            &:hover {
              background-color: rgba(109, 109, 110, 0.327);
            }

            &:nth-child(3) {
              color: #141414;
              background-color: #fff;
              padding: 8px 16px;
              font-weight: 700;
              width: 130px;
              border-radius: 5px;
              text-align: center;
              &:hover {
                background-color: #c6c6c6;
              }
            }
          }
        }
      }
    }
  }
}

.closed {
  display: none;
}

// Step 3
.box-mainInstructSt3 {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  inset: 0px;
  overflow: auto;
  margin: auto;

  .align-self {
    align-self: self-end;

    .box-instruct {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -17%);
      font-size: 16px;
      width: 390px;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      background: linear-gradient(
          45.55deg,
          rgba(0, 0, 0, 0.1) -8.16%,
          rgb(0, 0, 0) 32.09%,
          rgb(0, 0, 0) 69.6%,
          rgba(0, 0, 0, 0.1) 107.2%
        ),
        linear-gradient(
          270deg,
          rgb(229, 9, 20) 5.35%,
          rgba(129, 43, 239, 0.75) 37.52%,
          rgba(129, 43, 239, 0.75) 55.93%,
          rgb(229, 15, 9) 93.15%
        ),
        rgb(0, 0, 0);
      color: white;

      .close {
        position: relative;
        float: right;
        font-size: 24px;
        background: #666666a1;
        border-radius: 50%;
        width: 34px;
        height: 34px;

        button {
          position: absolute;
          top: -1px;
          left: 7px;

          .des-close {
            position: absolute;
            font-size: 13px;
            background-color: #141414;
            border: 1px solid #969696;
            border-left: 1px solid #fff;
            border-top: 1px solid #fff;
            box-shadow: 0px 1px 2px 0px #141414;
            padding: 1px 7px;
            color: #ccc;
            left: 20px;
          }
        }
        &:hover {
          background-color: #66666662;
        }
      }

      .content-instruct {
        clear: both;
        display: flex;
        flex-direction: column;

        .avatar {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          span:nth-child(3) {
            svg {
              opacity: 0.5;
            }
          }

          img {
            width: 115px;
            border-radius: 5px;
          }
          .name {
            font-weight: 500;
            margin-top: 10px;
          }
          .nickname {
            display: flex;
            color: #ababab;
            font-size: 15px;
            margin-bottom: 7px;
            border: 1px solid #969696;
            background: #000;
            border-radius: 5px;
            padding: 8px 10px;
            width: 160px;
            align-items: center;

            &:nth-child(1) {
              margin-top: 15.333px;
              border: 1px solid #ffffff;
            }

            &:nth-child(2) {
              background: rgba(0, 0, 0, 0.8);
              border: 1px solid #4c4c4c;
            }

            &:nth-child(3) {
              margin-bottom: 45px;
              background: rgba(0, 0, 0, 0.6);
              border: 1px solid #242424;
            }
            svg {
              width: 32px;
            }
            span {
              padding-left: 10px;
              color: #fff;
              font-size: 17px;
            }
          }
        }

        .title-nickname {
          margin-bottom: 55px;
          .title {
            color: #fff;
            font-weight: 500;
            font-size: 24px;
            padding-bottom: 7px;
          }
          .description {
            font-size: 1.1vw;
            font-weight: 400;
          }
        }
        .btn-instruct {
          position: relative;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: flex-end;

          .marker-active {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .one:after {
              content: "";
              display: inline-block;
              margin-right: 0.5em;
              width: 0.375em;
              height: 0.375em;
              border-radius: 50%;
              background-color: #969696;
            }
            .two:after {
              content: "";
              background-color: #969696;
              display: inline-block;
              margin-right: 0.5em;
              width: 0.375em;
              height: 0.375em;
              border-radius: 50%;
            }
            .three:after {
              content: "";
              background-color: white;
              display: inline-block;
              margin-right: 0.5em;
              width: 0.375em;
              height: 0.375em;
              border-radius: 50%;
            }
          }

          button {
            color: #fff;
            background-color: rgba(109, 109, 110, 0.7);
            padding: 8px 16px;
            font-weight: 700;
            width: 130px;
            border-radius: 5px;
            text-align: center;
            &:hover {
              background-color: rgba(109, 109, 110, 0.327);
            }

            &:nth-child(3) {
              color: #141414;
              background-color: #fff;
              padding: 8px 16px;
              font-weight: 700;
              width: 130px;
              border-radius: 5px;
              text-align: center;
              &:hover {
                background-color: #c6c6c6;
              }
            }
          }
        }
      }
    }
  }
}

.closed {
  display: none;
}