@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box-RankAge {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title-restriction {
    font-weight: 500;
    color: #000;
    font-size: 24px;
  }
  .options-age {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 100%;

    .content-age {
      .detail-content-age {
        margin-top: 15px;
      }
    }
    .box-detail-content-age {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 40px 0px;
      position: relative;
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        background-color: #d3d3d3;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        left: 0;
        top: 6px;
        z-index: 2;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: #d3d3d3;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        right: 0;
        top: 6px;
        z-index: 2;
      }

      .content-restrictions-input-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;

        &:nth-child(6) {
          margin-right: 12px;
        }

        &::before {
          content: "";
          background-color: #fff;
          height: 26px;
          width: 26px;
          border-radius: 50%;
          border: 1px solid #b3b3b3;
          cursor: pointer;
          z-index: 3;
          margin-bottom: 20px;
        }

        &::after {
          content: "";
          position: absolute;
          background-color: #d3d3d3;
          height: 4px;
          width: 100%;
          z-index: 1;
          top: 10px;
          left: 0;
        }

        .content-restrictions-input {
          position: absolute;
          background-color: #0080ff;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -180%);
          z-index: 5;
          cursor: pointer;

          .content-restrictions-radio {
            position: relative;
            margin-bottom: 20px;

            .check-radio {
              display: block;
              visibility: hidden;
              z-index: 5;
            }
          }
        }

        .content-restrictions-label {
          cursor: pointer;

          .content-restriction-description {
            div {
              ul {
                .pin-rating-item {
                  background-color: #dedede;
                  color: #a6a6a6;
                  font-size: 12px;
                  font-weight: 500;
                  padding: 2px 6px;
                  border-radius: 2px;
                  text-align: center;
                  position: relative;

                  &:hover::before {
                    content: attr(data-tooltip);
                    position: absolute;
                    display: block;
                    opacity: 1;
                    background: #e6e6e6;
                    border-radius: 4px;
                    bottom: -3em;
                    transform: translateX(-45%) translateY(0);
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
                    color: #181818;
                    font-size: 1.1em;
                    font-weight: 400;
                    padding: 5px 10px;
                    white-space: nowrap;
                    z-index: 2;
                    animation: fadeIn 0.7s ease-in-out;
                  }
                }

                .selected {
                  position: relative;
                  &::after {
                    content: "";
                    position: absolute;
                    left: -170px;
                    top: -36px;
                    height: 4px;
                    width: 562%;
                    background-color: #5fa53f;
                    margin: 0px 20px;
                    z-index: 2;
                  }
                }
                .label-selected {
                  background-color: #5fa53f;
                  color: #fff;
                  font-size: 12px;
                  font-weight: 500;
                  padding: 2px 6px;
                  border-radius: 2px;
                  text-align: center;
                }
                .pin-rating-item.selected {
                  &::before {
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .title-children-profile {
    margin: 20px 0px;
  }
  .experience-children {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    .fontCheck {
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 18px;
      color: #0080ff;
    }
  }
  .title-restrictions-user {
    margin: 20px 0px;
  }
  .content-restrictions-container {
    box-sizing: border-box;
    margin-top: 15px;

    .maturity-search {
      position: relative;

      .maturity-search-box {
        width: 500px;
        background: #fff;
        border: 1px solid #ccc;
        position: relative;

        input {
          width: 470px;
          background: transparent;
          border: none;
          margin: 0;
          padding: 10px;

          &:focus {
            outline: none;
          }
        }

        .fontXMark {
          font-size: 1.6em;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, -50%);
        }

        ::placeholder {
          color: #6a6a6a !important;
        }
      }
      .box-list-search {
        background-color: #fff;
        position: absolute;
        width: 500px;
        border: 1px solid #333;

        .search-result {
          .item-search {
            border-bottom: 1px solid #ccc;
            color: #333;
            display: block;
            padding: 10px 20px 10px 10px;
            cursor: pointer;
          }
        }
      }
      .protected-videos {
        .selected-movie {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 500px;
          padding: 15px 0 0 10px;

          .title {
            color: #b9090b;
          }
          .fontXMark-movie {
            stroke-width: 2px;
            stroke-linejoin: miter;
            height: 1em;
            padding: 3px;
            width: 1em;
            color: #999;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.btn-restrictionRank {
  margin-top: 40px !important;
  margin-bottom: -60px !important;
}
